<div class="container">
  <div [hidden]="isHidden" class="form-container">
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-content>
      <form [formGroup]="sendEmailForm" (ngSubmit)="submitEmail()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Ex: example@gmail.com"
            formControlName="email"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            required
          />
        </mat-form-field>

        <div class="button">
          <button type="submit" mat-raised-button color="primary">
            Send Email
          </button>
        </div>
      </form>
    </mat-card-content>
  </div>
  <div [hidden]="!isHidden">
    <h2 mat-card-title>Email Sent Successfully</h2>
    <mat-card-content>
      <p>The email has send to your account!</p>
    </mat-card-content>
    <!-- <mat-card-content>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Old Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Old password"
            formControlName="currentPassword"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="New password"
            formControlName="newPassword"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Confirm new password"
            formControlName="confirmNewPassword"
            required
          />
        </mat-form-field>

        <div class="button">
          <button type="submit" mat-button>Reset Password</button>
        </div>
      </form>
    </mat-card-content>-->
  </div>
  <div>
    <button mat-button routerLink="/login">Go back</button>
  </div>
</div>
