.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.header {
  display: inherit;
  justify-content: space-between;
}

button {
  margin: 0.5rem;
}

#back-btn {
  color: white;
  background-color: indigo;
  border-radius: 0.5rem;
}

table {
  margin-top: 1rem;
  width: 100%;
}

